<br><br>
<button (click)="change()" >change</button>
<br><br>
{{data}}
<br><br>
<span>Name : </span>
<input type="text" #name placeholder="Name">
<br><br>
<span>Password : </span>
<input type="text" #pass placeholder="password">
<br><br>
<button (click)="SignUp(name.value,pass.value)" >SignUp</button>
<br><br>
{{n}}
<br><br>
{{p}}


<span>First Number</span>
<input type="number" #one >
<br>
<span>Second Number</span>
<input type="number" #two ><br>
<button (click)="addi(one.value,two.value)">+</button><br>
<button (click)="minus(one.value,two.value)">-</button><br>
<button (click)="multi(one.value,two.value)">*</button><br>
<button (click)="divide(one.value,two.value)">/</button><br>

<span>{{c}}</span>